/*
  Oh Hello!

  These are some base styles so that our tutorial looks good.

  Let's go through the important bits real quick
*/

:root {
    --yellow: #ffc600;
    --black: #272727;
    --blue: lightblue;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 50px;
    background: var(--blue);
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 30px;
    background-color: var(--yellow);
    /* best colour */
    cursor: grabbing;
    box-shadow: 10px 10px 8px #888888;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.added {
    border-radius: 3px;
    font-size: 30px;
    background-color: var(--yellow);
    box-shadow: none;
}

.item p {
    margin: 0 0 5px 0;
}

#sentence-box {
    display: grid;
    grid-template-columns: 6fr 1fr;
    height: 20vh;
    border: 3px solid white;
    grid-gap: 20px;
    border-radius: 25px;
}

#sentence {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

#controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.button {
    text-transform: uppercase;
    padding: 5px;
}

#controls>span {
    height: 100%;
    width: 100%;
    font-size: 7em;
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
}

.text-shadow {
    text-shadow: 3px 3px 16px #272634;
}

.container {
    display: grid;
    grid-gap: 20px;
    height: 70vh;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
}

.draggable {
    position: relative;
    /* important (all position that's not `static`) */
}

.playing {
    box-shadow: 10px 10px 8px #888888;
}